<script src="../static/js/jquery-3.5.1.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<link href="../static/css/bootstrap.css" rel="stylesheet">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>人脸注册界面</title>
    <style> body {background-color: #8D9EB7;} </style>
	<style> video,canvas{border:2px solid #585858} </style>
<style>
ul {list-style-type: none;margin: 0;padding: 0;overflow: hidden;border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

li {
    float: left;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {color: white;background-color: #4CAF50;}
</style>


<body>
<ul>
  <li><a href="../" >主页</a></li>
  <li><a href="../monitor">监控画面</a></li>
  <li><a class="active" href="new_face">人脸登记</a></li>
  <li><a href="#about">关于</a></li>
</ul>
</body>

<body>
<h1 align="center" style="color: whitesmoke;"> 录入界面</h1>
<!--<h1 style="color: whitesmoke;"> 录入界面</h1>-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <main div="col-xs-12">
        <div class="col-xs-6">
            <button onclick="getVideo()" class="btn btn-primary">拍摄</button>
            <button id="close" onclick="closeMedia()">关闭</button>
        </div>
        <div class="col-xs-6">
            <p style="color:#085CD7";>请输入您的姓名后提交</p>
            <input type="text" value="Kaige" id="name">
            <button onclick="uploadImage()" class="btn btn-primary">上传</button>
        </div>
        <div class="col-xs-6">
            <video id="video" width="500px" height="500px"></video>
        </div>
        <div class="col-xs-6">
            <canvas id="canvas" width="500px" height="500px"></canvas>
        </div>




    </main>


<script>
    $("#canvas").width($("#video").width())
    $("#canvas").height($("#video").height())
    // 关闭窗口
    function closeMedia() {
            var video = document.getElementById('video');
            if (!video.srcObject) return
            let stream = video.srcObject
            let tracks = stream.getTracks();
            tracks.forEach(track => {
                track.stop()
            })
    }
    //打开摄像头
    //本地调试 --unsafely-treat-insecure-origin-as-secure="http://ip/new_face/"
    let video = document.getElementById("video");
    function getVideo() {
        let constraints = {
            video: {width: 500, height: 500},
            // java bool变量为小写
            audio: false
        };
        let promise = navigator.mediaDevices.getUserMedia(constraints);
        promise.then(function (MediaStream) {
            video.srcObject = MediaStream;
            video.play();
        }).catch(function (PermissionDeniedError) {
            console.log(PermissionDeniedError);
        })
    }


	//图片发送至后端
    var canvas = document.getElementById('canvas');
    var context = canvas.getContext('2d');
    name = document.getElementById("name").value  //text为文本框的id

    function uploadImage(){
        canvas.width = 500;
        canvas.height = 500;
        context.drawImage(video, 0, 0, 500, 500);
        var imgData = canvas.toDataURL();
		name = document.getElementById("name").value;  //text为文本框的id
        imgData = imgData.replace(/^data:image\/(png|jpg);base64,/,"")
        //上传到后台。
        var uploadAjax = $.ajax({
            type: "post",
            //后端地址
            url:"/receiveImage/",
            data: JSON.stringify({"imgData": imgData,"name":name}),
            contentType:"json/application",
            timeout:10000,
            async: true,
            success: function (htmlVal) {
                //成功后回调
            },
            error: function(data) {
            },
            //调用执行后调用的函数
            complete: function (XMLHttpRequest, textStatus) {
                if(textStatus == 'timeout'){
                    uploadAjax.abort(); //取消请求
                    //超时提示：请求超时，请重试
                    alert("请求超时，请重试")
                    //请求超时返回首页
                    closeCard();
                }
            }
        });
    }
</script>

</body>
</html>
